$navBackColor: black;
$navBackHoverColor: #1b1a20;
$grayTextColor: #5b5a5e;

nav {
  .click-close {
    .close {
      right: 0;
      padding: 4px;
    }
    .shopping-card {
      right: -498px;
    }
  }
  .click-open {
    .close {
      right: 498px;
      padding: 16px;
    }
    .shopping-card {
      right: 0;
    }
  }
  .close {
    background-color: $navBackColor;
    color: white;
    position: fixed;
    top: 0;
    cursor: pointer;
  }
  .close:hover {
    background-color: $navBackHoverColor;
  }

  .basket-icon {
    .dot {
      height: 20px;
      width: 20px;
      background-color: #eabf00;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: black;
      margin-left: -18px;
    }
    span {
      margin-left: 8px;
    }
  }

  .shopping-card {
    position: fixed;
    width: 450px;
    top: 0;
    padding: 24px;
    background-color: $navBackHoverColor;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;

    header {
      height: 150px;
      background-color: $navBackHoverColor;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        font-size: 20px;
        font-weight: 700;
      }
    }

    .product-item::-webkit-scrollbar {
      display: none;
    }

    section {
      height: 100%;
      background-color: $navBackHoverColor;
      overflow-y: auto;
    }

    footer {
      padding: 0 16px 0;
      background-color: $navBackHoverColor;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .sub {
        width: 100%;
        margin-bottom: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .sub-total {
          color: $grayTextColor;
          flex: 1 1 50%;

        }
        .sub-price {
          flex: 1 1 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          span {
            color: #eabf00;
            font-size: 22px;
          }
          small {
            color: $grayTextColor;
          }
        }
      }

      button {
        height: 50px;
        width: 100%;
        margin-bottom: 64px;
        background-color: black;
        color: white;
        border-color: $navBackColor;
        font-size: 17px;
      }
    }
  }
}
