$navBackColor: black;
$navBackHoverColor: #1b1a20;
$grayTextColor: #5b5a5e;

.App {

  main {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 50px auto 0;
  }

  nav {
    .close {
      background-color: $navBackColor;
      color: white;
      position: fixed;
      right: 498px;
      top: 0;
      padding: 16px;
      cursor: pointer;
    }
    .close:hover {
      background-color: $navBackHoverColor;
    }

    .shopping-card {
      position: fixed;
      width: 450px;
      right: 0px;
      top: 0;
      padding: 24px;
      background-color: $navBackHoverColor;
      display: flex;
      flex-direction: column;
      height: 100%;
      color: white;
      overflow-y: scroll;

      header {
        height: 150px;
        background-color: $navBackHoverColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
          .dot {
            height: 20px;
            width: 20px;
            background-color: #eabf00;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: black;
            margin-left: -18px;
          }
          span {
            margin-left: 8px;
          }
        }

        span {
          font-size: 20px;
          font-weight: 700;
        }
      }

      section {
        height: 100%;
        background-color: $navBackHoverColor;

        .product-row {
          margin-top: 32px;
          padding: 16px 0 16px;
          min-width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-bottom: 2px solid black;
          border-top: 2px solid black;

          .col-1 {
            flex: 1 0 20%;
            img {
              width: 60px;
              height: 80px;
            }
          }
          .col-2 {
            flex: 1 0 60%;
          }
          .col-3 {
            flex: 1 0 20%;
          }
        }
      }

      footer {
        padding: 0 16px 0;
        background-color: $navBackHoverColor;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .sub {
          width: 100%;
          margin-bottom: 48px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .sub-total {
            color: $grayTextColor;
            flex: 1 1 50%;

          }
          .sub-price {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            span {
              color: #eabf00;
              font-size: 22px;
            }
            small {
              color: $grayTextColor;
            }
          }
        }

        button {
          height: 50px;
          width: 100%;
          margin-bottom: 64px;
          background-color: black;
          color: white;
          border-color: $navBackColor;
          font-size: 17px;
        }
      }
    }
  }
}
